html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "黑體", "STHeiti", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;;
    font-size: 14pt;
}

.left-panel {
    width: calc(100% - 480px - 50px);
}

.title {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-block-start: 2pt;
    margin-block-end: 2pt;
}

.song-title {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-block-start: 2pt;
    margin-block-end: 5pt;
}

#player {
    width: 480px;
    height: 270px;
    position: absolute;
    top: 10pt;
    right: 10pt;
}

.disabled {
    opacity: 0.5 !important;
    pointer-events: none;
}

.oneSection {
    float: left;
    padding-left: 3pt;
    padding-right: 3pt;
    width: 280px;
}

.sectionDetail {
    line-height: 1.2em;
    height: 6em;
    overflow: hidden;
}

.allSections {
    clear: left;
    height: 3em;
}

.sections {
    overflow-y: scroll;
}

#sectionsList {
    float: left;
    list-style-type: none;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 1400px;
    overflow-y: scroll;
}

#sectionsList > li {
    float: left;
    padding-left: 3pt;
    padding-right: 3pt;
    width: 80px;
    cursor: pointer;
}

#sectionsList > li:hover {
    background: lightblue;
}

.sectionsHeader {
    float: left;
    width: 40px;
    padding-left: 3pt;
    padding-right: 3pt;
}

.sectionsDetail {
    line-height: 1.2em;
    height: 4.8em;
    overflow: hidden;
}