html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "黑體", "STHeiti", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;;
    font-size: 14pt;
}

.left-panel {
    width: 30%;
}

.title {
    font-size: 1.2em;
    line-height: 1.4em;
}

.song-title {
    font-size: 1.2em;
    line-height: 1.4em;
    cursor: pointer;
}

#player {
    width: 480px;
    height: 270px;
    position: absolute;
    top: 10pt;
    right: 10pt;
}

.disabled {
    opacity: 0.5 !important;
    pointer-events: none;
}

.oneSection {
    float: left;
    padding-left: 3pt;
    padding-right: 3pt;
    width: 280px;
}

.sectionDetail {
    line-height: 1.2em;
    height: 6em;
    overflow: hidden;
}

.allSections {
    clear:left;
}

#sections {
    list-style-type: none;
    padding-left: 0;
}

#sections > li {
    float: left;
    padding-left: 3pt;
    padding-right: 3pt;
    width: 80px;
    cursor: pointer;
}

#sections > li:hover {
    background: lightblue;
}